@import '/src/shared/styles/colors';
@import '/src/shared/styles/fonts';

.searchPanel {
  display: flex;
  justify-content: space-between;
  padding: 38px 35px;
  margin-bottom: 80px;
  border-radius: 32px;
  background-color: $color-white;

}

.input {
  width: 360px;
  border: none;
  outline: none;
  padding-left: 47px;
  background-image: url('../../../src/images/searchIcon.svg');
  background-repeat: no-repeat;
  background-position-x: 22px;
  background-position-y: center;
  border-radius: 24px;
  background-color: $color-light-gray;
}

.input::placeholder {
  color: $color-medium-gray;
}

.left {
  display: flex;
}

.contacts {
  display: flex;
  align-items: center;
  margin-right: 39px;
  font-weight: $fw-semibold;
  color: $color-green;
  font-size: 28px;

  span {
    margin-left: 14px;
    font-size: 12px;
    color: #6D7986;
  }
}

.button {
  padding: 15px;
  color: $color-green;
  border: 1.5px solid $color-green;
  font-size: 16px;
  border-radius: 24px;

}