@import '/src/shared/styles/colors';
@import '/src/shared/styles/fonts';

.wrapper {
  padding: 30px 40px;
}

.title {
  margin-bottom: 21px;
  font-size: 28px;
  color: $color-dark-gray;
}

.pagination {
  display: flex;

  [class*='rc-pagination-item'] {
    padding: 15px;
    cursor: pointer;
  }

  [class*='rc-pagination-prev'],
  [class*='rc-pagination-next'] {
    display: flex;
    align-items: center;
    background-image: url('../../images/prev.svg');
    background-repeat: no-repeat;
    background-position-x: 10px;
    background-position-y: center;
  }

  [class*='rc-pagination-next'] {
    background-image: url('../../images/next.svg');
  }

  [class*='rc-pagination-jump-prev'],
  [class*='rc-pagination-jump-next'],{
    padding: 10px;
    display: flex;
    align-items: center;
    font-size: 20px;
  }


  [class*='rc-pagination-item-active'] {
   color: $color-green;
  }
}

.tableFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  background-color: $color-white;
  border-radius: 0 0 32px 32px;
  font-size: 14px;
  color: #6D7986;
  font-weight: $fw-semibold;
}

.select {
  margin-left: 15px;
  padding: 3px 7px;
  border: 1.5px solid $color-light-gray;
  border-radius: 6px;
  font-size: 12px;
  color: $color-dark-gray;
  font-weight: $fw-semibold;
}