@import '/src/shared/styles/colors';
@import '/src/shared/styles/fonts';

.tableWrapper {
  max-width: 100%;
  overflow-x: scroll;
  border-radius: 32px 32px 0 0;
  background-color: $color-white;
}

.table {
  border-spacing: 0;
  white-space: nowrap;

  thead {
    font-size: 12px;
    color: $color-green;

    th, td {
      border: .7px solid $color-light-gray;
      padding: 10px 30px 10px 15px;
    }
  }

  tbody {
    color: #6D7986;
    font-size: 12px;
    font-weight: $fw-semibold;

    tr:nth-child(odd) {
      background-color: rgba(248, 248, 248, 0.5);
    }

    tr:nth-child(even) td:not(:nth-child(-n + 2)) {
      background-color: rgba(229, 248, 246, 0.5);
    }

    td {
      border: .7px solid $color-light-gray;
      padding: 20px;
    }
  }
}

.nameCell:hover {
  cursor: pointer;
  color: $color-green;
}